<header class="flex justify-between items-center w-full p-2">
  <%= image_tag 'ishikawatriplogo.png', alt: 'いしかわとりっぷ', width: "100" %>
  <div class="flex items-center gap-3">
    <button class="text-black py-2 px-4 rounded">
      <div>
  <!-- クライアントライブラリの読み込み 下記1行を追加 -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if current_user %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>さん
  <% else  %>
        ゲストさん
        <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
  <% end %>
</div>
    </button>
    <i id="menuIcon" class="fas fa-bars cursor-pointer"></i>
  </div>
  <div id="menu" class="hidden absolute right-7 top-20 bg-white py-2 px-4 shadow-lg">
    <ul class="flex flex-col gap-2">
      <li>マイページ</li>
      <li>投稿一覧</li>
      <li>新規投稿</li>
      <% if current_user %>
      <li>
          <%= link_to "ログアウト", log_out_path %>
      </li>
      <% end %>
    </ul>
  </div>
</header>