<div class="search-form-container mb-7">
  <div class="search-form bg-pink-100 p-4 rounded-lg shadow-md">
    <div class="collapse collapse-arrow bg-base-200 shadow">
      <input type="checkbox" id="search-bar-check" class="hidden" />
      <label for="search-bar-check" class="collapse-title font-bold flex justify-center cursor-pointer">
        <span>ここを開いて、見つけたい条件を選んでください</span>
      </label>
      <div class="collapse-content">
        <%= form_with url: posts_path, method: :get, local: true, id: "search-form" do %>
          <div class="mb-4">
            <%= label_tag :q, "フリーワード検索", class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= text_field_tag :q, params[:q], placeholder: "ここに入力（例：ラーメン）", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-pink-500" %>
          </div>
          <div class="mb-4">
            <%= label_tag :tag_id, "タグで検索", class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :title, params[:tag_id]), prompt: "タグを選択", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-pink-500" %>
          </div>
          <div class="mb-4">
            <%= label_tag :month_tag_id, "おすすめ時期で検索", class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= select_tag :month_tag_id, options_from_collection_for_select(MonthTag.all, :id, :title, params[:month_tag_id]), prompt: "時期を選択", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-pink-500" %>
          </div>
          <div class="flex justify-between">
            <%= submit_tag "検索", class: "bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            <%= link_to 'リセット', posts_path, id: "reset-button", class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="map" class="w-full h-[800px] sm:h-[1000px]" data-posts='<%= @posts.to_json(include: { tags: { only: :title }, month_tags: { only: :title } }, methods: :image_url) %>'></div>
<%= render 'posts/shared/modal' %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&callback=initMap", async: true, defer: true %>
<%= javascript_include_tag 'map' %>

<%= javascript_include_tag "application", 'data-turbo-track': "reload", defer: true %>

