<!DOCTYPE html>
<html>
<head>
  <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&callback=initMap", async: true, defer: true %>
<%= javascript_include_tag "application", 'data-turbo-track': "reload", defer: true %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZEX52S4W9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VZEX52S4W9');
  </script>

  <meta charset="UTF-8">
  <title>Ishikawatrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-white flex flex-col min-h-screen" data-turbo-suppress-warning>
  <header class="z-10">
    <%= render "shared/header" %>
  </header>

  <main class="flex-grow relative">
    <%= yield %>
  </main>

  <footer class="z-10">
    <%= render "shared/footer" %>
  </footer>
</body>
</html>
